img {
    max-width: 100%;
}


.portfolio-container {
    min-width: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    border: 1px solid red;
}

.portfolio-item {
    position: relative;
    width: 300px;
    text-align: center;

}

.img-fluid {
    height: 200px;
    cursor: pointer;
}

.content-holder {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgba(0, 255, 255, 0.205);
}

.portfolio-item:hover>.content-holder {
    display: flex;
}


header,
.cart-container {
    position: relative;
}


.cart-container {
    text-align: center;
}

.cart-container__icon {
    cursor: pointer;
}

.cart-container__number {
    display: none;
}

.model-cart {
    position: absolute;
    left: 230px;
    top: 30px;
    width: 300px;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 6px 24px;
    background-color: rgb(155, 143, 189);
    border-radius: 16px;
    z-index: 1;
}

.cart-container {
    border: 1px solid blue;
    width: 100px;
    margin: 0 auto;

}

.btn {
    width: 150px;
    height: 30px;
    border-radius: 16px;
    cursor: pointer;
}

.model-cart__products {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 5px;
}

.new-product {
    width: 230px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border: 1px solid black;
}

.new-product>.new-product__image {
    width: 30px;
    max-height: 100%;
}

.new-product__delete {
    cursor: pointer;
}